body {
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
}
#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

#episode-card {
  padding: 10px;
  width: 20%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 2%;
}

#episode-img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#title-container {
}

#episode-title {
  display: block;
  text-align: center;
  font-size: 1em;
  margin-top: 0%;
  margin-bottom: 10%;
}

#episode-number {
  display: block;
  text-align: center;
  font-size: 1em;
  margin-top: 0%;
}
