body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

#episode-card {
  padding: 10px;
  width: 20%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 2%;
}

#title-container {
  margin-bottom: 5%;
}

#episode-number {
  display: block;
  text-align: center;
  font-size: 0.9em;
  margin-top: 0%;
}

#episode-title {
  display: block;
  text-align: center;
  font-size: 0.9em;
  /* margin-top: 0%; */
}

#episode-img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#episode-summery {
  width: 100%;
  font-size: 1em;
  height: 7em;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
